@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Permanent+Marker&display=swap');

* {
  margin: 0;
  font-family: 'exo 2', sans-serif;
}
body {
  background-color: rgb(233 224 120 / 72%);
  /* background-image: url('flat-lay-desk-concept-wooden-table.jpg');
  background-image: url('flat-lay-work-space-with-notebook-keyboard.jpg');
  background-image: url('top-view-copy-space-with-devices.jpg');
  background-size: cover; */
}
