.aboutMePage {
  display: flex;
  flex-direction: column;
}

.about-text {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  padding: 1rem;
  border-radius: 10px;
  margin: 1rem 0;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  flex-grow: 1;
  gap: 1rem;
  background-color: rgba(255, 255, 255, 0.6);
}
