.titulo > h1 {
  text-shadow: 0 2px 4px white;
  margin: 1rem;
}
.titulo > h3 {
  margin: 1rem;
}
.barraNavegadora {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 1rem;
}
.barraNavegadora > a:hover {
  color: white;
  text-shadow: 0 1px 2px black;
}
.barraNavegadora > a:visited {
  text-decoration: none;
}
.barraNavegadora > a:active {
  color: black;
}
.banner {
  display: flex;
  justify-content: flex-start;
}

.img-perfil {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 1px rgb(233 224 120 / 72%);
  object-fit: cover;
  box-shadow: 0 8px 16px black;
}

.titulo {
  flex-grow: 1;
  margin: 1rem;
}
.barraHeader {
  height: 30%;
  padding-top: 0;
}

/* Diseño responsive */
@media (max-width: 768px) {
  .banner {
    flex-direction: column;
    align-items: center;
  }

  .img-perfil {
    flex-shrink: 0;
  }
}
