.titulo > h1 {
  text-shadow: 0 2px 4px white;
  margin: 1rem;
}
.titulo > h3 {
  margin: 1rem;
}
.barraNavegadora {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 1rem;
}
.barraNavegadora > a:hover {
  color: white;
  text-shadow: 0 1px 2px black;
}
.barraNavegadora > a:visited {
  text-decoration: none;
}
.barraNavegadora > a:active {
  color: black;
}
.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 12%;
  padding-right: 12%;
}

.img-perfil {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 4px solid black;
  object-fit: cover;
  box-shadow: 0 8px 16px grey;
  aspect-ratio: 1 / 1;
  margin-left: 6%;
}

.titulo {
  flex-grow: 1;
  margin: 1rem;
  background-color: rgba(255, 255, 255, 0.4);
  padding: 3px;
  border: 1px solid black;
  border-radius: 10px;
}
.titulo > p {
  margin: 1rem;
}
.barraHeader {
  height: 30%;
  padding-top: 0;
  position: relative;
}
.flags {
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: flex;
  gap: 0.5rem;
}
.flags > button {
  padding: 0;
  border: none;
  cursor: pointer;
}

/* Diseño responsive */
@media (max-width: 768px) {
  .banner {
    flex-direction: column;
    align-items: center;
    padding: 0;
  }

  .img-perfil {
    flex-shrink: 0;
    margin-left: 0;
  }
  .barraNavegadora {
    text-align: center;
  }
  .titulo {
    margin-left: 0;
    margin-right: 0;
  }
  .flags {
    display: flex;
    flex-direction: column;
  }
}
